body {
  font-family: Arial;
  background: #f5f7fa;
  text-align: center;
  padding-top: 50px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn, .button-group button {
  padding: 15px 30px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: #00b894;
  color: white;
}

video {
  margin-top: 20px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #0984e3;
}
